
    .pagination-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        position: sticky;
        bottom: 0;
        padding: 6px;
        flex-wrap: wrap;

        &-item {
            display: block;
            margin: 0 2px;
            width: 20px;
            height: 20px; 
            font-size: 14px;
            text-align: center;
            font-weight: 400;
            background-color: #38a1d1;
            color: #ffe4c4;
            border-radius: 40px;
      
            &--current {
                background-color: #6e7f96;
                border: 1px solid #ffe4c4; 
                color: #ffe4c4;
            }

            &:hover {
                @include hover-mixin(#526175, #ffe4c4);
            }
        }
    }